name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      
      - name: Build
        uses: chabad360/hugo-actions@v2

      - name: Deploy
        uses: berkelmas/action-hosting-deploy@1.0.1
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_VYUKA_ACEE9 }}'
          channelId: live
